*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background-image: url("https://images.unsplash.com/photo-1471666875520-c75081f42081?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1438&q=80");
    position: fixed;
}

h1{
    margin-bottom: 30px;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container{
   width: 800px;
   height: 150px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0 auto;
   padding: 30px;
   justify-items: center;
   text-align: center;
}

span{
    display: block;
}

.result button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer{
    background-color: red;
        margin-bottom: -30px;
}